body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f3e7ef; 
}

.container {
  background-color: #f5b2c2; 
  padding: 20px; 
  border-radius: 10px; 
  max-width: 1200px; 
  margin: 20px auto; 
}

.Nav_Bar { 
  font-size: 20px;
}

.header {
  display: flex;                /* Use flexbox for alignment */
  align-items: center;         /* Center items vertically */
}

.Headings {
  color: #053328;
  font-size: 50px;
  background-color: #eae6dc;
  border-style: double;           
  border-color: #f2f2f2;
  border-width: 10px;
  border-radius: 10px;
  margin: 0;                   /* Remove default margin */
}

#logo {
  height: 100px;              /* Set height to match the text size */
  margin-left: 20px;          /* Add some space between the text and logo */
}

#List_Of_Services { 
  color: #053328;
  font-size: 20px;
  background-color: #f5b2c2;
  border-style: double; 
  border-color: #f2f2f2;
  border-radius: 10px;
}

.beauty_tips {
  border-radius: 15px;
  margin: 10px;
  width: 250px;
}

.beauty_tips_gallery { 
  display: flex;
  justify-content: center; 
}

#bookings {
  font-size: 30px;
  color: black;
}

.profile {
  display: flex;
  align-items: center;
  background-color: #f5b2c2; 
  padding: 20px; 
  border-radius: 10px; 
  max-width: 1200px; 
  margin: 20px auto; 
}

.profile img {
  border-radius: 15px;
  margin-right: 20px;
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile_info {
  flex: 1;
}

.photo_album {
  border-radius: 15px;
  margin: 10px;
  width: 200px; 
}

.photo_album_info {
  display: flex;
  justify-content: center;
}

.map-container {
  position: relative; 
  overflow: hidden;
  max-width: 100%;
  background-color: #e0e0e0;
  width: 300px; 
  height: 300px; 
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
