body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f3e7ef;  
}

.container {
  background-color: #f5b2c2;  
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 20px auto;
  overflow-wrap: break-word;
}

.Nav_Bar { 
  font-size: 20px;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.Nav_Bar a {
  background-color: #f0f0f0;
  padding: 0.5rem 1.2rem;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.1s, transform 0.2s;
}

.Nav_Bar a:hover {
  background-color: #db7f95;  
  transform: scale(1.05);
}

.Nav_Bar a:active {
  background-color: #99898d;
}

.header {
  display: flex;                
  align-items: center;         
}

.Headings {
  color: #053328;
  font-size: 50px;
  background-color: #eae6dc;
  border-style: double;           
  border-color: #f2f2f2;
  border-width: 10px;
  border-radius: 10px;
  margin: 0;
}

#logo {
  height: 100px;
  margin-left: 20px;
}

#List_Of_Services { 
  color: #053328;
  font-size: 20px;
  background-color: #f5b2c2;
  border-style: double; 
  border-color: #f2f2f2;
  border-radius: 10px;
}

.beauty_tips {
  border-radius: 1.5rem;
  margin: 10px;
  width: 250px;
}

.beauty_tips_gallery { 
  display: block;
  justify-content: center;
  height: auto; 
  width: 100%;
}

#bookings {
  font-size: 25px;
  color: black;
  width: max-content;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.profile {
  display: flex;
  align-items: center;
  background-color: #f5b2c2;
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 20px auto;
}

.profile img {
  border-radius: 15px;
  margin-right: 20px;
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile_info {
  flex: 1;
}

.photo_album {
  border-radius: 15px;
  margin: 10px;
  width: 200px; 
}

.photo_album_info {
  display: block;
  justify-content: center;
}

.map-container {
  position: relative; 
  overflow: hidden;
  max-width: 100%;
  background-color: #e0e0e0;
  width: 300px; 
  height: 300px; 
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.faq-container {
  max-width: 85%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgb(235, 165, 189);
  border-radius: 1.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.Question {
  font-style: italic;
  font-size: 1.2rem;
}

#special {
  font-family: 'Gill sans', 'Gill sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #e9e6dc;
  font-size: 1.3rem;
  border-radius: 1.5rem;
  margin: 2rem auto;
  padding: 2rem;
}

.testimonials {
  border-radius: 1.5rem;
  padding: 1.2rem;
  margin: auto;
  background-color: #e9e6dc;
  border-style: dashed;
  border-color: black;
}

#unique {
  background-color: #e9e6dc;
  border-radius: 0.5rem;
  padding: 0.6rem;
}

#fname, #lname, #service, #date, #email, #inquiryType{
  border-radius: 1.5rem;
  padding: 0.5rem;
  background-color: #f3e7ef;
  width: 20rem;
  font-weight: bolder;
}

#sprequest {
border-radius: 1.5rem;
padding: 0.5rem;
background-color: #f3e7ef;
width: 25rem;
height: 5rem;
font-weight: bolder;
}

#submit {
  border-radius: 0.5rem;
  font-size: large;
  border-style: double;
  padding: 0.6rem;
  background-color: #f3e7ef;
  font-weight: bolder;
}

#submit:hover {
  background-color: #db7f95;  
}

@media only screen and (max-width: 768px) {
  .Nav_Bar {
    flex-direction: column;  
    align-items: center;
  }

  .profile {
    flex-direction: column;  
    align-items: center;
  }

  .profile img {
    width: 100%;  
    height: auto;
  }

  .faq-container {
    max-width: 100%;  
  }
}
